
.options{
    display: flex;
    align-items: center;
    gap: 1rem;
    height:3rem;
    padding: 1rem;
    cursor: pointer;
    color: white;
    border-top-left-radius: var(--medium);
    border-bottom-left-radius: var(--medium);
    position: relative;
    z-index: 40;

}

.optionIcon{
    color: var(--primary-button-color);
    font-size: 1.4rem;
}
 .options:hover{
  background-color: var(--primary-color);
  color: var(--secondary-color)
}



 .options:hover #curve-top{
    display: block;
 }
 .options:hover #curve-bottom{
    display: block;
 }

 #curveTop{
    position: absolute;
    display: none;
    top: -1.2rem;
    right: 0;
    width: 20px;
    height: 20px;
    background: var(--primary-color);
    mask-image: radial-gradient(circle 10px at 0 0, transparent 0, transparent 20px, black 21px);
    -webkit-mask-image: radial-gradient(circle 10px at 0 0, transparent 0, transparent 20px, black 21px);
 }

 #curveBottom{
    position: absolute;
    display: none;
    bottom: -1.2rem;
    right: 0;
    width: 20px;
    height: 20px;
    background: var(--primary-color);
    mask-image: radial-gradient(circle 10px at 0 0, transparent 0, transparent 20px, black 21px);
    -webkit-mask-image: radial-gradient(circle 10px at 0 0, transparent 0, transparent 20px, black 21px);
    transform: rotate(270deg);
 }

