:root {
  /* Color Variables */
  --background-color: #e1eceb; 
  --primary-color: #e1eceb; 
  --secondary-color: #3d5654; 
  --secondary-color-lighter: #425c5a; 
  --white-color:#ffffff;
  --primary-button-color:#c99c33;
  --primary-button-color-hover:#dfb24b;

   /* border radius */
   --full:50%;
   --medium:20px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--primary-color);
}



.container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-bar-wrapper{
  display: block;
}

#curveTop{
  position: absolute;
  display: none;
  top: -1.2rem;
  right: 0;
  width: 20px;
  height: 20px;
  background: var(--primary-color);
  mask-image: radial-gradient(circle 10px at 0 0, transparent 0, transparent 20px, black 21px);
  -webkit-mask-image: radial-gradient(circle 10px at 0 0, transparent 0, transparent 20px, black 21px);
}

#curveBottom{
  position: absolute;
  display: none;
  bottom: -1.2rem;
  right: 0;
  width: 20px;
  height: 20px;
  background: var(--primary-color);
  mask-image: radial-gradient(circle 10px at 0 0, transparent 0, transparent 20px, black 21px);
  -webkit-mask-image: radial-gradient(circle 10px at 0 0, transparent 0, transparent 20px, black 21px);
  transform: rotate(270deg);
}



@media screen and (min-width: 1024px) {
  .nav-bar-wrapper {
    display: none; 
  }

  body::-webkit-scrollbar {
    display: block;
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #cabfbf;
}

body::-webkit-scrollbar-thumb {
    background: #bbb0b0;
    border-radius: 10px; 
}

body::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

}